.icon-jaktur-facebook-f {
  content: url(svgs/facebook-f.svg);
  align-self: center;
}

.icon-jaktur-twitter {
  content: url(svgs/twitter.svg);
  align-self: center;
}

.icon-jaktur-instagram {
  content: url(svgs/instagram.svg);
  align-self: center;
}

.icon-jaktur-linkedin {
  content: url(svgs/linkedin.svg);
  align-self: center;
}

.icon-jaktur-search-oscuro {
  content: url(svgs/search.svg);
  align-self: center;
}

.icon-jaktur-list {
  content: url(svgs/list.svg);
  align-self: center;
}

.icon-jaktur-star {
  content: url(svgs/star.svg);
}

.icon-jaktur-arroba {
  content: url(svgs/arroba.svg);
}

.icon-jaktur-callCenter {
  content: url(svgs/call-center-agent.svg);
}

.icon-jaktur-maps {
  content: url(svgs/gps.svg);
}
